* {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #DBDBDB;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1.4rem;
  align-items: center;
}


.icone_esquerda{
  position: absolute;
  left: 2rem;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main > img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  align-items: center;
}

.description > strong {
  margin-right: 0.3rem;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  padding: 0;
}

li {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 255px;
  height: 2rem;
  width: 15rem;
  list-style: none;
  margin-bottom: 1rem;
  background-color: #53CF93;
}

li img {
  margin-right: 1rem;
  width: 1rem;  
  height: 1rem;
}

li:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 763px) {
  footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h1 {
    font-size: 1.5rem;
  }
}

